:root {
  // Primary color
  --c-primary-50: 255, 238, 242;
  --c-primary-100: 255, 224, 231;
  --c-primary-200: 254, 199, 210;
  --c-primary-300: 252, 165, 180;
  --c-primary-400: 248, 129, 140;
  --c-primary-500: 241, 99, 102;
  --c-primary-600: 229, 79, 70;
  --c-primary-700: 202, 67, 56;
  --c-primary-800: 163, 55, 48;
  --c-primary-900: 129, 49, 46;
  // Secondary color
  --c-secondary-100: 242, 240, 253;
  --c-secondary-200: 231, 204, 251;
  --c-secondary-300: 218, 153, 246;
  --c-secondary-400: 202, 128, 242;
  --c-secondary-500: 185, 45, 212;
  --c-secondary-600: 166, 20, 184;
  --c-secondary-700: 148, 13, 148;
  --c-secondary-800: 130, 15, 118;
  --c-secondary-900: 112, 17, 94;
  --c-secondary-1000: 100, 19, 78;

  // Neutral color
  --c-neutral-50: 245, 245, 245;
  --c-neutral-100: 230, 230, 230;
  --c-neutral-200: 215, 215, 215;
  --c-neutral-300: 190, 190, 190;
  --c-neutral-400: 165, 165, 165;
  --c-neutral-500: 140, 140, 140;
  --c-neutral-600: 115, 115, 115;
  --c-neutral-700: 90, 90, 90;
  --c-neutral-800: 64, 66, 75;
  --c-neutral-900: 39, 41, 50;
}
